In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [35]:
dataset = pd.read_csv('binary_log.csv')

In [36]:
dataset

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [37]:
dataset['Gender'] = dataset['Gender'].map({'Female':1, 'Male':0})

In [38]:
dataset

      SAT Admitted  Gender
0    1363       No       0
1    1792      Yes       1
2    1954      Yes       1
3    1653       No       0
4    1593       No       0
..    ...      ...     ...
163  1722      Yes       1
164  1750      Yes       0
165  1555       No       0
166  1524       No       0
167  1461       No       0

[168 rows x 3 columns]

In [39]:
dataset['Admitted'] = dataset['Admitted'].map({'Yes':1,'No':0})

In [40]:
dataset

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
..    ...       ...     ...
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

In [41]:
X = dataset.iloc[:,[0,2]].values

In [42]:
X

array([[1363,    0],
       [1792,    1],
       [1954,    1],
       [1653,    0],
       [1593,    0],
       [1755,    1],
       [1775,    1],
       [1887,    1],
       [1893,    1],
       [1580,    0],
       [1857,    1],
       [1880,    1],
       [1664,    1],
       [1364,    0],
       [1693,    0],
       [1850,    1],
       [1633,    0],
       [1634,    0],
       [1636,    1],
       [1855,    1],
       [1987,    1],
       [1997,    0],
       [1422,    1],
       [1508,    1],
       [1720,    1],
       [1879,    0],
       [1634,    1],
       [1802,    0],
       [1849,    1],
       [1764,    1],
       [1460,    0],
       [1675,    1],
       [1656,    0],
       [2020,    0],
       [1850,    0],
       [1865,    0],
       [1664,    0],
       [1872,    1],
       [1654,    0],
       [1393,    1],
       [1587,    0],
       [1631,    1],
       [1931,    0],
       [1370,    0],
       [1810,    0],
       [1414,    0],
       [1761,    1],
       [1477,    0],
       [1486,    0],
       [1561,    0],
       [1549,    0],
       [2050,    0],
       [1697,    1],
       [1543,    1],
       [1934,    1],
       [1385,    0],
       [1670,    0],
       [1735,    1],
       [1634,    0],
       [1777,    1],
       [1550,    0],
       [1715,    0],
       [1925,    1],
       [1842,    0],
       [1786,    0],
       [1435,    0],
       [1387,    0],
       [1521,    0],
       [1975,    1],
       [1435,    0],
       [1714,    0],
       [1634,    0],
       [1464,    1],
       [1794,    0],
       [1855,    0],
       [1953,    0],
       [1469,    0],
       [1663,    0],
       [1907,    1],
       [1990,    1],
       [1542,    0],
       [1808,    1],
       [1966,    1],
       [1679,    1],
       [2021,    1],
       [2015,    1],
       [1473,    0],
       [1979,    0],
       [1787,    1],
       [1687,    1],
       [1674,    1],
       [1478,    1],
       [1735,    1],
       [1720,    1],
       [1494,    0],
       [1964,    0],
       [1843,    1],
       [1550,    1],
       [1764,    1],
       [1712,    1],
       [1775,    1],
       [1531,    0],
       [1781,    1],
       [1579,    0],
       [1526,    1],
       [1778,    1],
       [1769,    1],
       [1824,    1],
       [1481,    0],
       [1464,    0],
       [1591,    0],
       [1666,    0],
       [1455,    0],
       [1934,    1],
       [1625,    0],
       [1334,    0],
       [1721,    1],
       [1475,    0],
       [1662,    1],
       [1861,    1],
       [1936,    1],
       [1572,    0],
       [1508,    1],
       [1430,    0],
       [1891,    1],
       [1550,    0],
       [1741,    1],
       [1690,    0],
       [1687,    0],
       [1730,    0],
       [1674,    1],
       [1475,    0],
       [1962,    1],
       [1532,    0],
       [1492,    0],
       [1502,    0],
       [1974,    1],
       [1607,    0],
       [1412,    1],
       [1557,    0],
       [1821,    0],
       [1760,    1],
       [1685,    0],
       [1773,    1],
       [1826,    1],
       [1565,    1],
       [1510,    0],
       [1374,    0],
       [1402,    0],
       [1702,    0],
       [1956,    1],
       [1933,    0],
       [1832,    0],
       [1893,    0],
       [1831,    1],
       [1487,    0],
       [2041,    1],
       [1850,    0],
       [1555,    1],
       [2020,    1],
       [1593,    0],
       [1934,    1],
       [1808,    0],
       [1722,    1],
       [1750,    0],
       [1555,    0],
       [1524,    0],
       [1461,    0]], dtype=int64)

In [43]:
y = dataset.iloc[:,1].values

In [44]:
y

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [45]:
y.shape

(168,)

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=0)

In [48]:
X_train.shape

(134, 2)

In [49]:
X_test.shape

(34, 2)

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
model = LogisticRegression()

In [74]:
model.fit(X_train,y_train)

LogisticRegression()

In [75]:
model.score(X_test,y_test)

0.9705882352941176

In [76]:
# Evaluation

In [77]:
y_pred = model.predict(X_test)

In [78]:
y_pred

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [79]:
y_test

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [80]:
from sklearn.metrics import confusion_matrix,classification_report

In [81]:
print(confusion_matrix(y_test,y_pred))

[[15  0]
 [ 1 18]]

In [82]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97        15
           1       1.00      0.95      0.97        19

    accuracy                           0.97        34
   macro avg       0.97      0.97      0.97        34
weighted avg       0.97      0.97      0.97        34